[push]
    default = upstream

[merge]
    tool = default-difftool

[mergetool "default-difftool"]
    cmd = code --wait --diff $LOCAL $REMOTE

[diff]
    tool = default-difftool

[difftool "default-difftool"]
    cmd = code --wait --diff $LOCAL $REMOTE

[init]
    templatedir = ~/.git_template

[core]
	editor = vi
	autocrlf = input
[user]
	name = marcelkornblum
	email = me@marcelkornblum.com
	signingkey = /home/marcel/.ssh/id_ed25519.pub
[credential]
	helper = store

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
[commit]
	gpgsign = true
[gpg "ssh"]
	allowedSignersFile = /home/marcel/.ssh/allowed_signers
[gpg]
	format = ssh
[safe]
	directory = /app
	directory = /app
