[push]
    default = upstream

[merge]
    tool = default-difftool

[mergetool "default-difftool"]
    cmd = code --wait --diff $LOCAL $REMOTE

[diff]
    tool = default-difftool

[difftool "default-difftool"]
    cmd = code --wait --diff $LOCAL $REMOTE

[init]
    templatedir = ~/.git_template

[core]
	editor = code --wait
	autocrlf = input
[user]
	name = Marcel Kornblum
	email = marcel.kornblum@digital.trade.gov.uk
	signingkey = /Users/marcelkornblum/.ssh/id_rsa.pub
[credential]
	helper = store

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
[commit]
	gpgsign = true
[gpg]
	format = ssh
[gpg "ssh"]
	allowedSignersFile = /Users/marcelkornblum/.ssh/allowed_signers
