[push]
    default = upstream

[init]
    templatedir = ~/.git_template

[user]
	name = "Marcel Kornblum"
	email = marcel@signal-noise.co.uk

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
